/* Mobile Contact Overrides */
@media (max-width: 599px) {
  .contact-container {
    padding: 60px 16px;
  }

  .contact-container h1 {
    font-size: 35px;
  }
  


  .contact-content {
    grid-template-columns: 1fr;
  }

  .contact-form {
    padding: 16px;
  }

  .form-row {
    grid-template-columns: 1fr;
  }

  .info-item {
    padding: 16px;
  }

  .form-group {
    margin-right: 30px;
  }
}
